<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbExample" connectionString="Initial Catalog=db;Data Source=server;User ID=user;Password=pwd" providerName="System.Data.SqlClient" />
    <add name="Db" connectionString="Initial Catalog=Lab;Data Source=JSPANK-NOOT;User ID=Lab;Password=desenv" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>